body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
} 

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

label{
  display: inline;
}

input{
  display : block;
}
.description{
  white-space: pre-wrap;
}

/* Changed the width to 700 px */
.time-block{
  text-align: center;
  border-radius: 15px;
  width: 60%;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  width: 80px;
  padding: 10px;
}

/* Replaced the color with black for past, present, future to improve visibility */
.past {
  background-color: #d3d3d3;
  color: rgb(20, 20, 20);
}

.present {
  background-color: #ff6961;
  color:  rgb(20, 20, 20);
}

.future {
  background-color: #77dd77;
  color:  rgb(20, 20, 20);
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;

}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

/* @media screen and (max-width:991px) {
  .timeblock{
      width:861px;
      margin: 0 auto;
  }

  .row{
    height:65px;
  }
}

@media screen and (max-width:375px) {
  .timeblock{
      width:200px;
  }

  .row{
    height:45px;
  }
} */
